In [1]:
import pandas as pd
df = pd.read_csv('big_contest.csv')
df.head()

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
0,50.0,F,골드,무료,그린,NaN,NaN,NaN,20220114,1512,...,2,일반,302,20220114.0,20220115.0,교향곡,콘서트홀,120,15,Y
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20211003,1550,...,0,초대권,1120,NaN,20210823.0,독주,리사이틀홀,90,15,N
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20220917,1520,...,0,초대권,2283,20220911.0,20220911.0,독주,IBK챔버홀,80,15,N
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190630,1132,...,0,초대권,2798,NaN,20190701.0,독주,리사이틀홀,90,15,N
4,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,20220206,1615,...,0,일반,897,20220109.0,20220110.0,독주,콘서트홀,90,0,Y

In [5]:
df.shape

(1920868, 24)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1920868 entries, 0 to 1920867
Data columns (total 24 columns):
 #   Column             Dtype
---  ------             -----
 0   age                float64
 1   gender             object
 2   membership_type_1  object
 3   membership_type_2  object
 4   membership_type_3  object
 5   membership_type_4  object
 6   membership_type_5  object
 7   membership_type_6  float64
 8   tran_date          int64
 9   tran_time          int64
 10  play_date          int64
 11  play_st_time       int64
 12  seat               object
 13  price              int64
 14  ticket_cancel      int64
 15  discount_type      object
 16  performance_code   int64
 17  pre_open_date      float64
 18  open_date          float64
 19  genre              object
 20  place              object
 21  running_time       int64
 22  intermission       int64
 23  member_yn          object
dtypes: float64(4), int64(9), object(11)
memory usage: 351.7+ MB

In [7]:
df.isnull().sum()

age                  1300183
gender               1299714
membership_type_1    1299714
membership_type_2    1433215
membership_type_3    1749009
membership_type_4    1890675
membership_type_5    1919586
membership_type_6    1920868
tran_date                  0
tran_time                  0
play_date                  0
play_st_time               0
seat                       0
price                      0
ticket_cancel              0
discount_type              0
performance_code           0
pre_open_date         864385
open_date                340
genre                  25842
place                      0
running_time               0
intermission               0
member_yn                  0
dtype: int64

In [8]:
df['place'].unique()

array(['콘서트홀', '리사이틀홀', 'IBK챔버홀'], dtype=object)

In [9]:
df_A = df.loc[df['place'] == '콘서트홀']
df_B = df.loc[df['place'] == 'IBK챔버홀']
df_C = df.loc[df['place'] == '리사이틀홀']

In [10]:
df_A.price.mean()

29973.89987675119

In [11]:
df_B.price.mean()

8130.384784566724

In [16]:
df_C.price

1              0
3              0
14             0
22             0
23             0
           ...
1920833        0
1920837        0
1920857        0
1920862        0
1920865    24000
Name: price, Length: 346490, dtype: int64

In [18]:
len(df.loc[df.price==0])

1247372

In [21]:
df.loc[df.price!=0].price

0           10000
4          180000
5          144000
8           56000
9           75000
            ...
1920853     90000
1920855     10000
1920860     15000
1920864     21000
1920865     24000
Name: price, Length: 673496, dtype: int64

In [29]:
len(df.loc[df['price']==0])

1247372

In [6]:
df.loc[(df['price']==0) & (df.membership_type_1.isnull()) & (df.membership_type_2.isnull()) & (df.membership_type_3.isnull()) & (df.membership_type_4.isnull()) & (df.membership_type_5.isnull()) & (df.membership_type_6.isnull())].discount_type.value_counts()

discount_type
초대권               899275
기획사판매             235583
기획사                55352
공연진행석              25332
한화초대석               6767
홍보진행                6757
정기회원                5367
우리카드 우수회원           3005
신세계석                2560
한화생명                2223
KT석                 1869
문화햇살                1740
기획사할인                251
기업석                  203
중앙일보 JTBC            202
BC카드                 158
후원회석                 138
중앙일보 JTBC 초대권        100
기획사 20%               92
신한은행                  50
기획사 판매20%             44
국립심포니                 40
기획사판매20%              39
연주자할인30%              37
기획사 판매30%             31
기획사할인40%              23
기획사 할인50%             22
홍보마케팅                 22
클립서비스(기업)20%할인        18
차액                    17
초대석                   12
홍보진행석                 10
Art+초대                10
일반판매석                  6
［초대권］                  6
기획사(특별할인)              6
Name: count, dtype: int64

In [30]:
len(df.loc[(df['price']==0) & (df['ticket_cancel']==0) & (df.membership_type_1.isnull()) & (df.membership_type_2.isnull()) & (df.membership_type_3.isnull()) & (df.membership_type_4.isnull()) & (df.membership_type_5.isnull()) & (df.membership_type_6.isnull())])

1172187

In [18]:
df.discount_type.str.contains('실버').sum()

1961

In [21]:
df.loc[df.discount_type.str.contains('실버')].discount_type.value_counts()

discount_type
실버할인(만65세이상/본인만)50%      636
실버할인(65세이상/본인만)50%       511
실버할인(만65세이상/본인만)40%      250
실버관객(65세이상/본인만)50%       115
실버할인(만65세이상/본인)40%       104
실버할인(만65세 이상/본인만)50%      62
실버할인(65세 이상/본인만)50%       59
실버할인(만 65세 이상/본인만)50%     57
실버할인(만 65세이상/본인만)40%      42
실버회원(만65세 이상/1인1매)50%     28
실버할인(65세이상)30%            24
실버할인(70세 이상/본인)50%        21
실버(65세 이상/본인만)50%         18
실버할인(본인만/만65세이상)40%       11
실버할인(70세이상/본인만)50%        11
실버관객(본인만)50%               6
실버할인(본인/70세이상)50%          6
Name: count, dtype: int64

In [9]:
df.genre.value_counts()

genre
교향곡      547382
독주       434579
실내악      339716
클래식      305782
합창       117683
성악        80210
콘서트       27112
오페라       22613
복합장르       9416
기타         6452
크로스오버      2211
재즈         1325
전시          266
무용          155
가족극         124
Name: count, dtype: int64

In [2]:
consert = df.loc[df['place']=='콘서트홀']

In [3]:
consert

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
0,50.0,F,골드,무료,그린,NaN,NaN,NaN,20220114,1512,...,2,일반,302,20220114.0,20220115.0,교향곡,콘서트홀,120,15,Y
4,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,20220206,1615,...,0,일반,897,20220109.0,20220110.0,독주,콘서트홀,90,0,Y
5,30.0,F,블루,무료,NaN,NaN,NaN,NaN,20181124,1145,...,2,블루회원 할인20%,528,20181119.0,20181119.0,교향곡,콘서트홀,100,15,Y
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20191020,1459,...,0,초대권,44,NaN,20191023.0,교향곡,콘서트홀,100,15,N
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190613,954,...,0,초대권,827,20190602.0,20190602.0,교향곡,콘서트홀,120,20,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1920853,60.0,F,무료,그린,NaN,NaN,NaN,NaN,20210618,1509,...,2,일반,887,20210618.0,20210620.0,교향곡,콘서트홀,110,20,Y
1920855,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,20230522,1729,...,0,일반,2825,20230505.0,20230507.0,교향곡,콘서트홀,120,15,Y
1920856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20201009,1652,...,0,초대권,77,NaN,20200920.0,클래식,콘서트홀,120,15,N
1920858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200726,1655,...,0,기획사판매,850,20200719.0,20200720.0,합창,콘서트홀,110,15,N
1920864,20.0,F,무료,싹틔우미,NaN,NaN,NaN,NaN,20221224,1223,...,0,청소년(만7세~만24세/본인만)30%,313,NaN,20221223.0,교향곡,콘서트홀,120,0,Y

In [4]:
consert.isnull().sum()

age                   612451
gender                612101
membership_type_1     612101
membership_type_2     707231
membership_type_3     956500
membership_type_4    1071808
membership_type_5    1095858
membership_type_6    1096968
tran_date                  0
tran_time                  0
play_date                  0
play_st_time               0
seat                       0
price                      0
ticket_cancel              0
discount_type              0
performance_code           0
pre_open_date         395645
open_date                  0
genre                  25073
place                      0
running_time               0
intermission               0
member_yn                  0
dtype: int64

In [5]:
consert.price.mean()

29973.89987675119

In [6]:
consert.membership_type_1.unique()

array(['골드', '무료', '블루', nan], dtype=object)

In [7]:
consert.membership_type_2.unique()

array(['무료', nan, '그린', '싹틔우미', '골드', '노블'], dtype=object)

In [8]:
consert.membership_type_3.unique()

array(['그린', nan, '무료', '싹틔우미', '노블'], dtype=object)

In [9]:
consert.membership_type_4.unique()

array([nan, '그린', '싹틔우미', '노블'], dtype=object)

In [10]:
consert.membership_type_5.unique()

array([nan, '그린'], dtype=object)

In [11]:
consert.membership_type_6.unique()

array([nan])

In [16]:
consert.seat

0            3층 BOX9 10
4           1층 B블록12열 7
5            1층 A블록2열 1
6            3층 E블록4열 8
7            2층 D블록8열 4
               ...
1920853      1층 A블록2열 2
1920855      3층 A블록6열 4
1920856    1층 D블록16열 12
1920858     1층 D블록20열 8
1920864      3층 B블록5열 4
Name: seat, Length: 1096968, dtype: object

In [19]:
df = pd.DataFrame(consert.seat)

In [24]:
df['seat_len'] = df['seat'].len

AttributeError: 'Series' object has no attribute 'len'

In [22]:
df['seat_len'].min()

1096968

In [23]:
df['seat_len'].max()

1096968

In [33]:
df['seat'].tail(190)

1920549      2층 D블록3열 3
1920550     1층 B블록9열 11
1920554     1층 D블록19열 5
1920557      1층 E블록6열 6
1920559      1층 D블록9열 7
               ...
1920853      1층 A블록2열 2
1920855      3층 A블록6열 4
1920856    1층 D블록16열 12
1920858     1층 D블록20열 8
1920864      3층 B블록5열 4
Name: seat, Length: 190, dtype: object

In [44]:
len(consert['discount_type'].unique())

710

In [46]:
consert.isnull().sum()

age                   612451
gender                612101
membership_type_1     612101
membership_type_2     707231
membership_type_3     956500
membership_type_4    1071808
membership_type_5    1095858
membership_type_6    1096968
tran_date                  0
tran_time                  0
play_date                  0
play_st_time               0
seat                       0
price                      0
ticket_cancel              0
discount_type              0
performance_code           0
pre_open_date         395645
open_date                  0
genre                  25073
place                      0
running_time               0
intermission               0
member_yn                  0
dtype: int64