In [2]:
import pandas as pd
df = pd.read_csv('big_contest.csv')
df.head()

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
0,50.0,F,골드,무료,그린,NaN,NaN,NaN,20220114,1512,...,2,일반,302,20220114.0,20220115.0,교향곡,콘서트홀,120,15,Y
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20211003,1550,...,0,초대권,1120,NaN,20210823.0,독주,리사이틀홀,90,15,N
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20220917,1520,...,0,초대권,2283,20220911.0,20220911.0,독주,IBK챔버홀,80,15,N
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190630,1132,...,0,초대권,2798,NaN,20190701.0,독주,리사이틀홀,90,15,N
4,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,20220206,1615,...,0,일반,897,20220109.0,20220110.0,독주,콘서트홀,90,0,Y

In [3]:
df.shape

(1920868, 24)

In [4]:
con = df.loc[df['place']=='콘서트홀']
con.shape

(1096968, 24)

## 공연시작시간 범주 나누기

__새로운 column : time__

- 12시 이전 : 'morning'
- 12시 이후, 18시 이전 : 'afternoon'
- 18시 이후 : 'evening'

In [13]:
con['time'] = 'morning'
con.loc[con['tran_time']>=1200,'time'] = 'afternoon'
con.loc[con['tran_time']>=1800,'time'] = 'evening'

C:\Users\Admin\AppData\Local\Temp\ipykernel_18816\1340576658.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  con['time'] = 'morning'

In [15]:
con[['tran_time','time']]

         tran_time       time
0             1512  afternoon
4             1615  afternoon
5             1145    morning
6             1459  afternoon
7              954    morning
...            ...        ...
1920853       1509  afternoon
1920855       1729  afternoon
1920856       1652  afternoon
1920858       1655  afternoon
1920864       1223  afternoon

[1096968 rows x 2 columns]

In [16]:
con['time'].value_counts()

time
afternoon    602102
morning      339003
evening      155863
Name: count, dtype: int64

## 좌석 번호 층/구역/열 3가지 범주로 나누기

__새로운 column__

- 층 : 'floor'
- 구역 : 'zone'
- 열 : 'col'

In [40]:
con['seat'].str.split(' ').str[1].tail(30)

1920812     E블록1열
1920814     A블록5열
1920815     E블록8열
1920818    B블록21열
1920819    A블록15열
1920821     E블록2열
1920823    E블록13열
1920825     C블록7열
1920827     B블록6열
1920829    B블록19열
1920830     D블록6열
1920831     B블록5열
1920834     A블록5열
1920835     D블록3열
1920836     B블록3열
1920839     E블록4열
1920840     E블록5열
1920842     C블록5열
1920843     N블록1열
1920845    B블록21열
1920846     N블록1열
1920847     A블록4열
1920849     D블록6열
1920850     E블록7열
1920852     G블록4열
1920853     A블록2열
1920855     A블록6열
1920856    D블록16열
1920858    D블록20열
1920864     B블록5열
Name: seat, dtype: object

In [28]:
con['floor'] = con['seat'].str.split(' ').str[0]

C:\Users\Admin\AppData\Local\Temp\ipykernel_18816\2807325395.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  con['floor'] = con['seat'].str.split(' ').str[0]

In [30]:
con['floor'].unique()

array(['3층', '1층', '2층', '합창석'], dtype=object)

In [33]:
con['zone'] = con['seat'].str.split(' ').str[1].str[:3]

C:\Users\Admin\AppData\Local\Temp\ipykernel_18816\3344619683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  con['zone'] = con['seat'].str.split(' ').str[1].str[:3]

In [34]:
con['zone'].unique()

array(['BOX', 'B블록', 'A블록', 'E블록', 'D블록', 'C블록', 'G블록', 'M블록', 'F블록',
       'N블록', 'H블록'], dtype=object)

In [35]:
con['col'] = con['seat'].str.split(' ').str[1].str[3:]

C:\Users\Admin\AppData\Local\Temp\ipykernel_18816\3049149981.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  con['col'] = con['seat'].str.split(' ').str[1].str[3:]

In [36]:
con['col'].unique()

array(['9', '12열', '2열', '4열', '8열', '17열', '12', '3열', '2', '20열', '10열',
       '7열', '5열', '21열', '18열', '1열', '15열', '22열', '19열', '6열', '16열',
       '14열', '13열', '11', '11열', '3', '9열', '5', '1', '6', '4', '7', '8',
       '10'], dtype=object)

## discount_type 전처리

In [40]:
con2 = con[con['discount_type'].str.contains('%')]

In [38]:
con2['discount_type'] = con2['discount_type'].str[:(((con2['discount_type'].str.find('%'))+1))]

C:\Users\Admin\AppData\Local\Temp\ipykernel_2604\2290628761.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  con2['discount_type'] = con2['discount_type'].str[:(((con2['discount_type'].str.find('%'))+1))]

In [41]:
con2['discount_type'].str.find('%')+1

5          10
11         22
18         10
28         10
29         27
           ..
1920821    10
1920834    10
1920836    10
1920842     9
1920864    20
Name: discount_type, Length: 330980, dtype: int64

In [43]:
con['per_idx'] = con2['discount_type'].str.index('%')+1

5          10
11         22
18         10
28         10
29         27
           ..
1920821    10
1920834    10
1920836    10
1920842     9
1920864    20
Name: discount_type, Length: 330980, dtype: int64

In [44]:
con2['discount_type']

5                           블루회원 할인20%
11              K-lang 멤버십 회원(1인2매)20%
18                          골드회원 할인30%
28                          싹틔우미 할인40%
29         라흐마니노프탄생150주년(8매/3.27까지)20%
                      ...
1920821                     골드회원 할인30%
1920834                     싹딜가(그린)50%
1920836                     골드회원 할인30%
1920842                      그린회원 할인5%
1920864           청소년(만7세~만24세/본인만)30%
Name: discount_type, Length: 330980, dtype: object

In [45]:
con

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
0,50.0,F,골드,무료,그린,NaN,NaN,NaN,20220114,1512,...,2,일반,302,20220114.0,20220115.0,교향곡,콘서트홀,120,15,Y
4,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,20220206,1615,...,0,일반,897,20220109.0,20220110.0,독주,콘서트홀,90,0,Y
5,30.0,F,블루,무료,NaN,NaN,NaN,NaN,20181124,1145,...,2,블루회원 할인20%,528,20181119.0,20181119.0,교향곡,콘서트홀,100,15,Y
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20191020,1459,...,0,초대권,44,NaN,20191023.0,교향곡,콘서트홀,100,15,N
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190613,954,...,0,초대권,827,20190602.0,20190602.0,교향곡,콘서트홀,120,20,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1920853,60.0,F,무료,그린,NaN,NaN,NaN,NaN,20210618,1509,...,2,일반,887,20210618.0,20210620.0,교향곡,콘서트홀,110,20,Y
1920855,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,20230522,1729,...,0,일반,2825,20230505.0,20230507.0,교향곡,콘서트홀,120,15,Y
1920856,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20201009,1652,...,0,초대권,77,NaN,20200920.0,클래식,콘서트홀,120,15,N
1920858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200726,1655,...,0,기획사판매,850,20200719.0,20200720.0,합창,콘서트홀,110,15,N
1920864,20.0,F,무료,싹틔우미,NaN,NaN,NaN,NaN,20221224,1223,...,0,청소년(만7세~만24세/본인만)30%,313,NaN,20221223.0,교향곡,콘서트홀,120,0,Y

In [47]:
con_2 = con[con['ticket_cancel']==0]

In [48]:
con_2.columns

Index(['age', 'gender', 'membership_type_1', 'membership_type_2',
       'membership_type_3', 'membership_type_4', 'membership_type_5',
       'membership_type_6', 'tran_date', 'tran_time', 'play_date',
       'play_st_time', 'seat', 'price', 'ticket_cancel', 'discount_type',
       'performance_code', 'pre_open_date', 'open_date', 'genre', 'place',
       'running_time', 'intermission', 'member_yn'],
      dtype='object')

In [58]:
con_2[['play_date','play_st_time','running_time','intermission']]

         play_date  play_st_time  running_time  intermission
4         20220302          1930            90             0
6         20191109          1700           100            15
7         20190723          2000           120            20
9         20190721          1700           100            15
11        20191201          1700           120            15
...            ...           ...           ...           ...
1920852   20190523          1930           120            15
1920855   20230613          1700           120            15
1920856   20201020          1930           120            15
1920858   20200818          1930           110            15
1920864   20230408          1700           120             0

[864120 rows x 4 columns]

In [60]:
len(con_2[con_2['play_date']==20201020])

808