In [41]:
import pandas as pd
df = pd.read_csv('big_contest.csv')
df.head()

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
0,50.0,F,골드,무료,그린,NaN,NaN,NaN,20220114,1512,...,2,일반,302,20220114.0,20220115.0,교향곡,콘서트홀,120,15,Y
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20211003,1550,...,0,초대권,1120,NaN,20210823.0,독주,리사이틀홀,90,15,N
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20220917,1520,...,0,초대권,2283,20220911.0,20220911.0,독주,IBK챔버홀,80,15,N
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190630,1132,...,0,초대권,2798,NaN,20190701.0,독주,리사이틀홀,90,15,N
4,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,20220206,1615,...,0,일반,897,20220109.0,20220110.0,독주,콘서트홀,90,0,Y

In [2]:
df.shape

(1920868, 24)

In [42]:
con = df.loc[df['place']=='콘서트홀']
con.shape

(1096968, 24)

In [73]:
con = con[con['ticket_cancel']==0]
con.head()

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn,discount
4,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,20220206,1615,...,일반,897,20220109.0,20220110.0,독주,콘서트홀,90,0,Y,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20191020,1459,...,초대권,44,NaN,20191023.0,교향곡,콘서트홀,100,15,N,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190613,954,...,초대권,827,20190602.0,20190602.0,교향곡,콘서트홀,120,20,N,NaN
9,NaN,F,블루,무료,NaN,NaN,NaN,NaN,20190703,908,...,일반,1528,NaN,20190413.0,클래식,콘서트홀,100,15,N,NaN
11,50.0,F,무료,NaN,NaN,NaN,NaN,NaN,20191005,1417,...,K-lang 멤버십 회원(1인2매)20%,315,NaN,20191005.0,오페라,콘서트홀,120,15,Y,20

## 공연시작시간 범주 나누기

__새로운 column : time__

- 12시 이전 : 'morning'
- 12시 이후, 18시 이전 : 'afternoon'
- 18시 이후 : 'evening'

In [74]:
con['time'] = 'morning'
con.loc[con['tran_time']>=1200,'time'] = 'afternoon'
con.loc[con['tran_time']>=1800,'time'] = 'evening'

In [75]:
con[['tran_time','time']]

         tran_time       time
4             1615  afternoon
6             1459  afternoon
7              954    morning
9              908    morning
11            1417  afternoon
...            ...        ...
1920852       1659  afternoon
1920855       1729  afternoon
1920856       1652  afternoon
1920858       1655  afternoon
1920864       1223  afternoon

[864120 rows x 2 columns]

In [76]:
con['time'].value_counts()

time
afternoon    491360
morning      255782
evening      116978
Name: count, dtype: int64

## 좌석 번호 층/구역/열 3가지 범주로 나누기

__새로운 column__

- 층 : 'floor'
- 구역 : 'zone'
- 열 : 'col'

In [77]:
con['seat'].str.split(' ').str[1].tail(30)

1920805    E블록18열
1920806    E블록17열
1920808     D블록5열
1920809    D블록22열
1920810    B블록17열
1920811     G블록1열
1920812     E블록1열
1920815     E블록8열
1920818    B블록21열
1920819    A블록15열
1920823    E블록13열
1920825     C블록7열
1920827     B블록6열
1920829    B블록19열
1920830     D블록6열
1920831     B블록5열
1920834     A블록5열
1920839     E블록4열
1920840     E블록5열
1920843     N블록1열
1920845    B블록21열
1920846     N블록1열
1920847     A블록4열
1920849     D블록6열
1920850     E블록7열
1920852     G블록4열
1920855     A블록6열
1920856    D블록16열
1920858    D블록20열
1920864     B블록5열
Name: seat, dtype: object

In [78]:
con['floor'] = con['seat'].str.split(' ').str[0]

In [79]:
con['floor'].unique()

array(['1층', '3층', '2층', '합창석'], dtype=object)

In [80]:
con['zone'] = con['seat'].str.split(' ').str[1].str[:3]

In [81]:
con['zone'].unique()

array(['B블록', 'E블록', 'D블록', 'C블록', 'BOX', 'G블록', 'F블록', 'A블록', 'N블록',
       'M블록', 'H블록'], dtype=object)

In [82]:
con['col'] = con['seat'].str.split(' ').str[1].str[3:]

In [83]:
con['col'].unique()

array(['12열', '4열', '8열', '17열', '9', '2열', '3열', '2', '20열', '10열', '7열',
       '5열', '21열', '18열', '22열', '1열', '6열', '16열', '15열', '13열', '11',
       '11열', '19열', '14열', '9열', '5', '6', '3', '4', '1', '7', '8', '10',
       '12'], dtype=object)

## discount_type 전처리

__새로운 column__
- column명 : discount
- column value : 할인율, 투플원

In [84]:
con['discount'] = con['discount_type'].str.extract('([0-9]+)\%')
con['discount']

4          NaN
6          NaN
7          NaN
9          NaN
11          20
          ...
1920852    NaN
1920855    NaN
1920856    NaN
1920858    NaN
1920864     30
Name: discount, Length: 864120, dtype: object

In [85]:
con.loc[(~con['discount_type'].str.contains('%')) & (con['discount_type'].str.contains('특별할인')) & (~(con['discount_type'].str.contains('기획사'))),'discount'] = '투플원'

In [86]:
con['discount'].unique()

array([nan, '20', '30', '40', '50', '5', '10', '25', '15', '60', '35',
       '12', '75', '투플원', '80'], dtype=object)

## discount를 사용하여 원가격으로 되돌리기

- discount가 숫자이면 역수를 사용하여 원가격으로 복구
- discount가 투플원이라면 ?

In [93]:
import numpy as np
def ori_price(discount,price):
    if discount.isdigit():
        price *= np.reciprocal(1-(int(discount)/100))
        return price
    elif discount == '투플원':
        pass